<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.ztone">

    <application>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <provider
            android:name="android.log.service.AysLog"
            android:authorities="${applicationId}.ayslog"
            android:exported="false"
            android:multiprocess="true" />
    </application>

</manifest>
